.Article {
    width: auto;
    height: 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

.Article h1 {
    text-align: center;
}

.ArticleForm {
    display: flex;
    flex-direction: column;
    padding-bottom: 2rem;
    
}

.Title {
    width: 35em;
    height: 3em;
    border-radius: 24px 24px 0 0;    
    border: 4px dotted #dbd7d2;
    margin: 0;
    padding-left: 0.5em;
    font-size: 1.2rem;
    font-style: oblique;
}

.ClassicTitle {
    font-size: 2rem;
    font-family:'Anton', sans-serif;
    margin-top: 8em;
}

.Description {
    height: 7em;
    border-radius: 0 0 10px 10px;
    border-style: none;
    margin: 0;
    padding-left: 0.5em;
    font-size: 1.2rem;
    background-color: #dbd7d2;
}

.ClassicButton {
    text-align: center;
}

.Parcourir input {
    height: 3em;
    width: 8em;
    font-size: 1.2rem;
    border-radius: 24px;
    margin: 0.5em;
    background-color: #666699;
    color: #fff;
}

.Share {
    height: 3em;
    width: 8em;
    font-size: 1.2rem;
    border-radius: 24px;
    margin: 0.5em;
    background-color: #666699;
    color: #fff;
}

.Share:hover {
    cursor: pointer;
    background-color: #dcdcdc;
    color: #666699;
}

.Post {
    border: 1px solid black;
    width: 50%;
    height: auto;
}

input {
    margin-top: 2em;
}

#Like-btn {
    cursor: pointer;
    font-size: 40px;
    color: gray;
}

#Like-btn:focus {
    color: blue;
}

section {
    border-bottom: 3px dotted black;
    padding: 2em;
}