.Navbar {
    width: 100%;
    min-height: 75px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    position: fixed;
    background-color: #0a3d62;
    box-shadow: 5px 5px 15px #0c2461 ;
}

.Navbar a {
   font-size: 20px;
   margin: 20px;
   color: white;
   text-decoration: none;
}

.Navbar a:hover {
    cursor: pointer;
}

.Navbar__links {
    display: flex;
    list-style: none;
}

.Navbar__burger {
    width: 40px;
    height: 40px;
    background-color: transparent;
    border: none;
    color: inherit;
    display: none;
}

@media screen and (max-width: 767px){
    .Navbar__links {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: fixed;
      right: -100%;
      bottom: 0;
      height: 100%;
      font-size: 5em;
      background-color: #0a3d62;
      visibility: hidden;
    }

    .Show-nav .Navbar__links {
        width: 100%;
        right: 0;
        visibility: visible;
    }
    
    .Navbar__item {
        display: block;
        padding: 1.5rem;
        font-size: 10vw;
    }

    .Navbar__burger {
        display: block;
        position: fixed;
        top: 1rem;
        right: 1rem;
    }

    .Navbar__burger:hover {
        cursor: pointer;
    }

    .Burger-bar,
    .Burger-bar::before,
    .Burger-bar::after {
        display: block;
        width: 40px;
        height: 3px;
        position: relative;
        border-radius: 3px;
        background-color: #fff;
        transition: all .5s ease-in-out;
    }

    .Burger-bar::before,
    .Burger-bar::after {
        content:"";
        position: absolute;
        left: 0;
    }

    .Burger-bar::before {
        transform: translateY(-12px);
    }

    .Burger-bar::after {
        transform: translateY(12px);
    }

    .Show-nav .Burger-bar {
        width: 0;
        background: transparent;
    }

    .Show-nav .Burger-bar::before {
        transform: rotate(45deg);
    }

    .Show-nav .Burger-bar::after {
        transform: rotate(-45deg);
    }
}