.Card {
    background-color: cadetblue;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    padding: 20px;
    width: 30%;
    height: 200px;
}

.Container {
    display: flex;
    justify-content: center;
}

.Home-link {
    color: black;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
}

.Icon {
    display: flex;
    justify-content: center;
    margin: 20px;
}

