main {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../../assets/background-home.jpg);
    background-position: inherit;
    background-size: auto;
    background-repeat: no-repeat;
    height: 150vh;
}

h2 {
    font-family: 'Sedgwick Ave', cursive;
    font-size: 2rem;
    color: #fff;
}


.Home {
    display: flex;
    align-items: inherit;
    text-align: center;
    background-color: black;
    opacity: 0.75;
    width: 30em;
    height: 30em;
    border-radius: 20px 20px;
    padding: 1em;
}

h1 {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 5rem;
}

p {
    display: flex;
    justify-content: center;
    color: #fff;
}

.title {
    margin: 1em;
}

@media only screen and (max-width: 767px) {
    main {
       background-image: url(../../assets/background-home.jpg);
    }
}

  /*
  .Home {
    text-align: center;
    background-color: black;
    opacity: 0.75;
    width: 40em;
    height: 30em;
    border-radius: 20px;
}
*/