@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Anton&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
}

main {
  padding: 6rem 1rem 1rem;
}